AnalisiUno.pdf
AnalisiUno-book.pdf
AnalisiUno-????-??-??.pdf
AnalisiUno-????????.pdf
AnalisiUno.fdb_latexmk
AnalisiUno.fls
AnalisiUno.synctex.gz
figures/figurePJ?.tif
figures/figurePJ?.pdf
*.aux
*.log
*.out
*.toc
*.idx
*.ilg
*.ind
*.bbl
*.blg
*.myaux
*.mw
*checkpoint*
