AnalisiUno.pdf
AnalisiUnoPlain.pdf
AnalisiUnoFonts.pdf
Book.pdf
PlasTex.pdf
AnalisiUno-????-??-??.pdf
AnalisiUno-????????.pdf
AnalisiUno.fdb_latexmk
AnalisiUno.fls
AnalisiUno.synctex*
figures/figurePJ?.tif
figures/figurePJ?.pdf
PlasTex
*.aux
*.log
*.out
*.toc
*.idx
*.ilg
*.ind
*.bbl
*.blg
*.myaux
*.mw
*.xdv
*.fls
*_latexmk
*checkpoint*
AnalisiUno-custom.fdb_latexmk
.vscode
