AnalisiUno.pdf
AnalisiUnoPlain.pdf
AnalisiUnoFonts.pdf
Book.pdf
PlasTex.pdf
AnalisiUno-????-??-??.pdf
AnalisiUno-????????.pdf
*.fdb_latexmk
*.fls
*.synctex*
figures/figurePJ?.tif
figures/figurePJ?.pdf
PlasTex
*.aux
*.log
*.out
*.toc
*.idx
*.ilg
*.ind
*.bbl
*.blg
*.myaux
*.mw
*.xdv
*.fls
*_latexmk
*checkpoint*
.vscode
Fondamenti.pdf
__pycache__/traduci.cpython-312.pyc
